<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
  
  <div class="container">
    <h1 class="mb-5 text-center">Se ha creado un nuevo cuarentenial!</h1>
  </div>

  <%- include('./partials/scripts') %>
</body>
</html>