body {
    background-image: url('../img/emilia-music-top.jpg');
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
}

div.ul-background-music {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: right;
    margin-top: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
}

ul.ul-form-music {
    display: inline-flex;
    list-style-type: none;
}

li.li-music {
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
}

a.a-music {
    text-decoration: none;
    color: black;
    stop-opacity: inherit;
}

div.media-icons-music {
    text-align: right;
    margin-top: 15px;
    margin-bottom: 80px;
}

h1.h1-music {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
}

p.p-direct-links {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 0px;
}

ul.ul-direct-links {
    list-style-type: none;
    margin-bottom: 50px;
}

li.li-direct-links {
    line-height: 12px;
}

a.a-direct-links {
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
}

h2.h2-body {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 19px;
}

img.img-twist {
    width: 55%;
}

p.p-songs-list {
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
}

div.videos {
    width: 55%;
}

p.p-videos-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
}

a.a-go-top {
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
}