*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    background-color: lightskyblue;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.container {
    margin-top: 5px;
    width: 960px;
    margin: 0 auto;
}